.footer{
    margin-top: -60px;
}
.footer-wrapper_item{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-wrapper_item--img img{
    border-radius: 100%;
}
.footer-wrapper_item--img_socials
{
    margin-top: 40px;
}
.footer-wrapper_item--img_socials-link a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: pink;
    padding: 5px;
    border-radius: 10px;
    padding-left: 7px;
}
.footer-wrapper_item--img_socials-copy-text{
    margin-top: 20px;
}