.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-img_box{
    padding: 0 10px;
}
.header-content_box--item div{
    margin-top: 20px;
}
.btn-download-parent {
    width: 150px;
    background-color: pink;
   padding: 12px;
   border-radius: 12px;
   border: none;
   outline: none;
   text-align: right;
  }

.header-img_box--item{
    position: relative;
    padding: 15px;
}

.header-img_box--item img{
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.stain1{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    left:0;
}
.stain2{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 15px;
    right: 0;
}