@media screen and (max-width:850px) {
    
    #header,.Experience-andـskills{
        display: flex;
        flex-direction: column-reverse;
    }
    .header-img_box,.theme{
        display: none;
    }
    .header-content_box{
        width: 100%;
        padding: 0 25px;
    }
    .btn-download-parent {
        width: 150px;
      background-color: pink;
      margin: 60px auto 20px auto;
     padding: 12px;
     border-radius: 12px;
     border: none;
     outline: none;
     text-align: right;
    }
    .about-me_box--content{
        width: 100%;
    }
    .about-me_box--socials{
        display: none;
    }
    .Experience-container-right-item{
        margin: 20px -100px 0 0 ;
        width: 85%;
    }
    .Experience-container-right-icon{
        width: 20%;
    }
    .Experience-and_skills--box_left,
    .Experience-and_skills--box_right
    {
        width: 100%;
       
    }
    .Experience-container-left{
        margin: 0 auto;
    }
    .Services_wrapper-box--item{
     width:90%;
     margin-left:30px ;
    }
.resume-wrapper-box{
    display: flex;
}

}

@media screen and (max-width:768px){
    .Contact-us_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
       
}

@media screen and (max-width:560px){
 .resume-wrapper-box-img{
        width: 100%;
        height: 400px;
        margin: 10px 0 0 50px ;
    }
}