@import './_Fonts.css';
@import './_Utilities.css';
@import './_Header.css';
@import './_Menubar.css';
@import './_About.css';
@import './_Experience.css';
@import './_Services.css';
@import './_Resume.css';
@import './_Contact-Us.css';
@import './_User-Idea.css';
@import './_Footer.css';
@import './_Responsive.css';


*,*:after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MyFont";
}

/* Short CSS Reset */

a,
a:active,
a:hover{
    text-decoration: none;
    color: #010101;
}

ol,ul,li{
    list-style-type: none;
}
body,html{
  scroll-behavior: smooth;
  font-size: 16px;
}
/* --------------------------> */

/* grids */




.container{
  display: grid;
  grid-template-columns:auto 100px ;
  grid-template-rows: auto;
  grid-column-gap: 2px;
  grid-row-gap: 50px;
}
.item1 {
 grid-column: 1/2;
}
.item2{
  grid-column: 2/3;
  grid-row: 1/8;
  background-color:#fff;
  position: fixed;
  top: 0;
  right: 0;bottom: 0;
}
.item3{
  grid-column: 1/2;
}
.item4{
   grid-column: 1/2;
}
.item5{
  grid-column: 1/2;
}
.item6{
   grid-column: 1/2;
}
.item7{
 grid-column: 1/2;
}
.item8{
   grid-column: 1/2;
}
.item9{
  grid-column: 1/3;
}